<%= form_with model: @book, url:update_book_path(@book.id), method: :patch do |f| %>

  <h1>Editing Book</h1>

  <strong>Title</strong>
  <%= f.text_field :title %>

  <strong>Body</strong>
  <%= f.text_area :body %>

  <%= f.submit 'Update Book' %>

  <% end %>